/* common */
html, body{
    background-color: #E5E5E5;
}

nav ul a:hover{
    border-radius: 3px;
    color: black!important;
    transform: scale(1.5);
    transition: transform .1s ease-in-out;
    font-weight: 500;
}
